
.services {
    background-color: #F0EFEA;

    .img-back-services {
        
        position: absolute;
        top: 3129px;
        right: 0;

    }

    .container {
        padding-bottom: 100px;
        padding-top: 100px;

        .content {
            display: grid;
            column-gap: 30px;
            grid-template-areas:
                "rubrik rubrik rubrik rubrik"
                "buad stbu fiad rima"
                "button button button button";


            .hr-services {
                width: 40px;
                height: 3px;
                margin-left: 0;
            }

            .p2-services {
                text-align: left;
            }

            .btn-cs {
                border: 2px solid #191919;
                background-color: #191919;
                color: #F0EFEA;

                &:hover {
                    border: 2px solid #F0EFEA;
                    background-color: #F0EFEA;
                    color: #191919;

                }
            }

            .box-1 {
                grid-area: rubrik;
                padding: 30px;

                .p1-services {
                    color: #F94D1C;
                    font-size: 18px;
                }

                .h2-services {
                    font-family: DM Sans;
                    font-size: 45px;
                    font-weight: 700;
                    text-align: left;
                }
            }

            .box-2 {
                grid-area: buad;
                padding: 30px;
                background-color: #ffff;
                text-align: right;
                width: 240px;
                margin-left: 55px;

                &:hover {
                    background-color: #F9D783;
                }
            }

            .box-3 {
                grid-area: stbu;
                padding: 30px;
                background-color: #Ffff;
                text-align: right;
                width: 240px;

                &:hover {
                    background-color: #F9D783;
                }
            }

            .box-4 {
                grid-area: fiad;
                padding: 30px;
                background-color: #ffff;
                text-align: right;
                width: 240px;

                &:hover {
                    background-color: #F9D783;
                }
            }

            .box-5 {
                grid-area: rima;
                padding: 30px;
                background-color: #ffff;
                text-align: right;
                width: 240px;

                &:hover {
                    background-color: #F9D783;
                }
            }

            .box-6 {
                grid-area: button;
                padding: 20px;
                text-align: center;
                padding-top: 40px;

                .btn-services {
                    padding: 12px 50px;
                }
            }
        }
    }

}