

.contact-form{

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        .content-box{
            display: flex;
            flex-direction: column;
            column-gap: 80px;
            text-align: center;
            background-color: #F0EFEA;
           padding: 50px;

        }
      .contact-head{
        padding-top: 50px;
        .h2-contact-form
        {
            font-size: 45px;
            font-family: DM Sans;
            font-weight: 700;
            margin-bottom: 50px;
        }
      }
      .contact-form-input
      {
          display: flex;
          flex-direction: column;
         padding-bottom: 60px;
        
    
      }
      .form-input{
        width: 600px;
    padding: 13px 45px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    margin-top:30px;
    
    }
    .form-input-message{
    height: 150px;
    width: 600px;
    }
    }

}
img{
    max-width: 100%;
}
input{
    margin-left: 40px;
    margin-right: 40px;
}
span{
    display: block;
    
    min-height: 25px;
    color: crimson;
}
.btn-submit
{
    
padding: 10px 240px;
}