.our-team
{
background-color: #F0D082;
padding-bottom: 90px;
padding-top: 90px;
}
.head-our-team{
    padding-bottom: 40px;

}
.head-flex-our-team{
    display: flex;
    flex-direction: row;
    gap: 400px;
    
}
.box-our-team{
    display: flex;
    flex-direction: row;
    
}
.container{
    display: grid;
    justify-items: center;

}
h2{
    font-family: DM Sans;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.img-our-team 
{
width: 250px;
height: 350px;
margin-right: 20px;
}
.grid-testimonials
{
    display: flex;

}
.h2-our-team
{
    
}
.testimonials
{
    background-color: #FFFF;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 80px;
    margin: 40px;
    
}
.button-testimonials
{
    padding-top: 50px;
    background-color: #FFFF;
}
.p1-our-team{
    color: #F94D1C;
    text-align: left;
}
p{
    font-family: DM Sans;
}